Button {
    height: 60px !important;
    width: 60px;
    font-size: 2em !important;;
    font-weight: bold !important;
}

#calculate-btn {
    width: 128px !important;
}

#display {
    font-size: 3em;
    margin-bottom: 8px;
    line-height: 60px;
    padding: 0px;
}
#display-text {
    text-align: right !important;
    outline: none;
    height: 60px;
    margin: 0;
    padding: 0 8px;
    width: 100%;
    border-radius: 2px;
    border: rgba(0,0,0,0.15) solid 1px;
}